@use '../../../styles/' as a;

.selectedWorksSection {
  margin-top: a.$margin-medium;
  width: 100%;
  @include a.centerItem;
  flex-direction: column;

  @include a.breakpoint(tablet) {
    margin-top: a.$margin-big;
  }

  &__selectText {
    width: 100%;
    @include a.centerItem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(a.rem(40));
    transition: opacity 1s ease, transform 1s ease;

    @include a.breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__worksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: a.$margin-small;
    @include a.breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: a.$margin-medium;

      flex-wrap: wrap;
    }
  }

  &__workCard {
    width: 100%;
    height: 40vh;
    // @include a.centerItem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: a.$border-radius;
    background-image: var(--radialGradientHover),
      url('../../assets/images/image2.png');
    background-image: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url('../../assets/images/invoiceApp.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0;
    transform: translateY(a.rem(40));
    transition: opacity 1s ease, transform 1s ease;
    @include a.breakpoint(tablet) {
      width: calc(50% - 1rem);
      height: a.rem(429);
    }

    &:hover {
      cursor: pointer;

      background-image: linear-gradient(
          to top right,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.3) 50%,
          rgba(0, 0, 0, 0.9) 100%
        ),
        url('../../assets/images/devjob.png');
    }

    &:hover
      > .selectedWorksSection__arrowUPContainer
      > .selectedWorksSection__arrowUP {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.3s ease;
    }
  }

  &__arrowUPContainer {
    margin-bottom: auto;
    margin-top: a.$margin-tiny;
    margin-right: a.$margin-tiny;
    // overflow: hidden;
  }

  &__arrowUP {
    width: 1.3rem;
    height: 1.3rem;
    border-top: 4px solid var(--primaryTextColor);
    border-right: 4px solid var(--primaryTextColor);
    position: relative;
    opacity: 0;
    transform: translateY(40%);
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      width: 2.5rem;
      height: 4px;
      background-color: var(--primaryTextColor);
      top: 85%;
      left: 20%;
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }

  // &__workCard {
  //   width: 100%;
  //   height: 40vh;
  //   border-radius: a.$border-radius;
  //   background-image: url('../../assets/images/image2.png');
  //   background-size: 100% 100%;
  //   background-repeat: no-repeat;
  //   background-position: top center;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //   position: relative;
  //   overflow: hidden;
  //   cursor: pointer;
  //   transition: transform 0.3s ease-in-out;

  //   &:before {
  //     content: '';
  //     position: absolute;
  //     top: 1rem;
  //     right: 1rem;
  //     transform: translate(-100%, -100%);
  //     width: 2rem;
  //     height: 2rem;
  //     background-color: rgba(255, 255, 255, 0.8);
  //     clip-path: polygon(
  //       0% 20%,
  //       60% 20%,
  //       60% 0%,
  //       100% 50%,
  //       60% 100%,
  //       60% 80%,
  //       0% 80%
  //     );
  //     transition: transform 0.3s ease-in-out;
  //   }

  //   &:hover {
  //     transform: scale(1.05);

  //     &:before {
  //       transform: translate(0, 0);
  //     }
  //   }

  //   @include a.breakpoint(tablet) {
  //     width: calc(50% - 1rem);
  //     height: a.rem(429);
  //   }
  // }

  &__workCardText {
    margin-top: auto;
    margin-left: a.$margin-tiny;
    font-size: clamp(a.rem(21), 2vw + a.rem(10), a.rem(25));
  }

  &__animate {
    opacity: 1;
    transform: translateY(0);
  }
}
